.product-capt-in {
    max-width: 320px;
}

.cart-count .remove:after {
    background-position: -403px -87px;
}

.icon-multiply {
    width: 20px;
    height: 19px;
    background: url(../img/sprite.png) no-repeat -553px -2px;
    margin: 0px 5px 0 27px;
}

.icon-equal {
    margin-top: 4px;
    height: 16px;
}
.cart-info-wrap {
    display: flex;
    align-items: center;
}

.cart-price-one {
    margin-top: 0;
}

.icon-equal {
    margin-top: 0;
}

.cart-price-all {
    margin-top: 0;
}

.cart-controls {
    display: flex;
    align-items: center;
    float: left;
    margin-right: 40px;
}

.cart-remove {
    position: relative;
    height: auto;
    width: 50px;
}

.cart-remove:after {
    right: auto;
}

.cart-image {
    font-size: 0;
    width: 247px;
    height: auto;
}

/* Max-width: 992px========== */

@media (max-width: 992px) {
    #container {
        min-width: 0;
    }
    #content {
        margin: 0;
        padding: 0;
        min-height: auto;
        background: none;
    }
    .bg-orange, .bg-orange:before, .bg-square:before {
        display: none;
    }
    .wrap {
        max-width: 100%;
        padding: 0 15px;
        margin: 0;
        width: auto;
    }
    .header-phone {
        right: 0
    }
    .nav-product {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .nav-product .item {
        max-width: none;
        width: 25%;
        display: flex;
        align-items: center;
        padding: 15px 15px 72px;
        justify-content: center;
        border: 2px solid #fff;
    }
    
    .list-product .item {
       width: 50%;
    }
   
    .list-product .img img {
        max-width: 100%;
        width: 100%;
        max-height:none;
    }
    .list-product .img a {
        display: block;
    }
    .breadcrumb.item {
        margin: 15px;
    }
    #footer {
        height: auto;
        margin: 0;
    }
    .article {
        justify-content: center;
        margin: 20 15px;
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .article-text {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }
    .header-order {
        left: 0;
        top: 77px;
    }
    .content-capt .capt {
        float: none;
        margin: 15px;
    }
    .help-info {
        display: none;
        margin: 0;
    }
    /* .order-form {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    } */
    /* .form-group {
        display: flex;
        max-width: 100%;
        text-align: left;
    } */
    /* .form-group .description {
        float: none;
    } */
    .article-image {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .article-image .img {
        border: none;
        margin: 0 auto;
    }
    .text-slider .bx-wrapper img {
        display: none;
    }
    .cart-image {
        float: none;
    }
    .cart-info {
        margin: 0;
    }
    .check-item .list-items {
        width: 49.9%;
        padding-top: 40px;
    }
}

.product {
    padding-bottom: 0;
}

.product-container {
    height: auto;
  
}

.product-ingredients {
    position: static;
    width: auto;
    padding-top: 1px;
}

.product-image {
    position: static;
}

.product-image img {
    width: auto;
}

.product-info {
    position: absolute;
    width: auto;
}

.product-add-ingredients {
    position: static;
}

.product-ingredients .list-ingredients {
    height: 100%;
}

.product-add-ingredients {
    display: none;
}

.product-info .price {
    height: 100%;
}

.product-info .weight {
    height: 100%;
    width: auto;
}

.checkout .cart-image {
    float: none;
    width: auto;
    margin: 0;
}

.text-help {
    padding-bottom: 15px;
}




/* Max-width: 520px========== */

@media (max-width: 768px) {
    #content {
        min-height: auto;
    }
    .phone .number {
        margin: 17px 0 0 12px;
        font-size: 18px;
    }
    .phone-numbers {
        padding: 20px 20px 5px;
        font-size: 18px;
    }
    .phone-numbers li {
        margin-right: 0;
    }
    .phone .capt, .phone .open-phone-drop, .phone .icons-phone {
        display: none;
    }
    #logo-header {
        width: 150px;
    }
    #header {
        margin-bottom: 50px;
    }
    .nav-product .item {
        width: 50%;
    }
    .list-product .item {
        width: 100%;
       
        margin-bottom: 45px;
    }
    .footer-logo {
        margin-right: 35px;
        margin-top: 43px;
    }
    .footer-nav a {
        display: block;
        float: none;
        margin: 0;
        padding: 5px 0;
    }
    #footer {
        padding: 10px 0 15px;
    }
    .order-price {
        float: none;
        width: auto;
        margin-top: 10px;
    }
    .order-price strong {
        display: block;
        margin-top: 15px;
    }
    .icon-equal {
        margin: 0px 10px 0 10px;
    }
    .cart-price-all {
        margin: 0 0 0 0px;
        font-size: 18px;
    }
    .cart-price-one {
        margin: 0 0px 0 5px;
    }
    .cart-calculation {
        display: flex;
        align-items: center;
    }
    .cart-quantity {
        padding: 5px;
        width: 50px;
        height: 40px;
        font-size: 24px;
        line-height: 38px;
    }
    .icon-multiply {
        margin: 0px 0px 0 5px;
    }
    .cart-count {
        margin: 35px 0;
    }
    .order-submit-wrap {
        float: none;
        width: auto;
    }
    .order-controls {
        margin-bottom: 40px;
    }
    .form-group .description {
        float: none;
        width: auto;
        text-align: left;
        margin-bottom: 10px;
    }
    .filder-phone {
        margin-top: 25px;
    }
    .header-order {
        right: 0;
        top: 90px;
        left: auto;
    }
    .order-form .form-group {
        width: auto;
    }
    .filder {
        padding-right: 0;
    }
    .order-form {
        margin: 45px 0;
    }
    .contacts-address {
        margin: 0 15px;
        float: none;
    }
    .contacts-address .img {
        border: none;
    }
    .content-capt {
        margin-top: 0;
    }
    .check-item .list-items {
        width: 100%;
    }
    .cart-info-wrap {
        font-size: 14px;
        margin: 0 0 0 10px;
    }
    .cart-price-all .price {
        font-size: 28px;
        margin: 0;
    }
    .cart-price-one .price {
        font-size: 22px;
        margin-right: 0px;
    }
    .cart-controls {
        float: none;
        margin-right: 0;
    }
    /*     
    .nav-product .item {
        width: 50%;
    }
    .list-product .item {
        width: 100%;
    }
    .phone .open-phone-drop {
        display: none;
    }
    .phone .number {
        float: none;
    }
    #logo-header img {
        display: none;
    }
    .phone .capt {
        display: none;
    }
    .phone .icons-phone {
        display: none;
    }
    .footer-nav a {
        float: none;
        margin: 0;
        display: flex;
        padding: 2px;
        margin: 15px;
    }
    #google-map {
        display: none;
    }
    .order-price {
        float: none;
    }
    .cart {
        display: flex;
    }
    .cart-info {
        float: left;
    }
    .cart-quantity {
        height: auto;
        width: 45px;
    }
    .cart-price-one .price {
        margin: 0;
        float: left;
    }
    .text-brown {
        display: none;
    }
    .list-product .price {
        display: inline-table;
    }
    .catalog-capt {
        text-align: center;
    }
    .product {
        margin: 0 15px;
    }
    .product-ingredients {
        width: 100%;
    }
    .text-help {
        display: none;
    }
    .product-add-ingredients {
        background: none;
        padding-top: 50px;
    }
    .order-controls {
        display: flex;
    } */
}