@charset "UTF-8";
/* =============================================================================
   Imports generic
   ========================================================================== */
/*! normalize.css v1.0.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3,
 * and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
img {
  border: none; }

/*
 * Addresses margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE 6/7.
 * Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

/*
 * Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
/*
 * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
/*
 * Addresses styling not present in IE 6/7/8/9.
 */
/*
 * Addresses margins set differently in IE 6/7.
 */
p,
pre {
  margin: 0; }

/*
 * Addresses CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none; }

/*
 * Addresses `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none; }

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE 6/7.
 */
/*
 * Addresses paddings set differently in IE 6/7.
 */
/*
 * Corrects list images handled incorrectly in IE 7.
 */
ul,
ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improves image quality when scaled in IE 7.
 */
/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding.
 */
/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  padding: 0;
  white-space: normal; }

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */ }

/*
 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* =============================================================================
   	Url path
========================================================================== */
/* =============================================================================
   	Url sprites
========================================================================== */
/* ============================
COLORS
================================ */
/* ============================
BODY
================================ */
/* ============================
LINKS
================================ */
/* ============================
CAPTIONS
================================ */
/* ============================
STRONG
================================ */
/* ============================
STRING
================================ */
/* =============================
	WRAPERS   	
================================ */
@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url("../fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.ttf") format("truetype"), url("../fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.svg#RobotoCondensed-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "RobotoCondensed-Light";
  src: url("../fonts/RobotoCondensed-Light/RobotoCondensed-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Light/RobotoCondensed-Light.woff") format("woff"), url("../fonts/RobotoCondensed-Light/RobotoCondensed-Light.ttf") format("truetype"), url("../fonts/RobotoCondensed-Light/RobotoCondensed-Light.svg#RobotoCondensed-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "RobotoCondensed-LightItalic";
  src: url("../fonts/RobotoCondensed-LightItalic/RobotoCondensed-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-LightItalic/RobotoCondensed-LightItalic.woff") format("woff"), url("../fonts/RobotoCondensed-LightItalic/RobotoCondensed-LightItalic.ttf") format("truetype"), url("../fonts/RobotoCondensed-LightItalic/RobotoCondensed-LightItalic.svg#RobotoCondensed-LightItalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url("../fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.woff") format("woff"), url("../fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.ttf") format("truetype"), url("../fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.svg#RobotoCondensed-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "RobotoCondensed-BoldItalic";
  src: url("../fonts/RobotoCondensed-BoldItalic/robotocondensed-bolditalic-webfont.eot");
  src: url("../fonts/RobotoCondensed-BoldItalic/robotocondensed-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-BoldItalic/robotocondensed-bolditalic-webfont.woff2") format("woff2"), url("../fonts/RobotoCondensed-BoldItalic/robotocondensed-bolditalic-webfont.woff") format("woff"), url("../fonts/RobotoCondensed-BoldItalic/robotocondensed-bolditalic-webfont.ttf") format("truetype"), url("../fonts/RobotoCondensed-BoldItalic/robotocondensed-bolditalic-webfont.svg#roboto_condensedbold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria/Geometria-Thin.eot');
    src: local('Geometria Thin'), local('Geometria-Thin'),
    url('../fonts/Geometria/Geometria-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria/Geometria-Thin.woff') format('woff'),
    url('../fonts/Geometria/Geometria-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
/* =============================================================================
   Imports mixins
   ========================================================================== */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
.spin {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear; }

/* =============================================================================
   Imports plugins
   ========================================================================== */
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020; }

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.fancybox-opened {
  z-index: 8030; }

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-outer, .fancybox-inner {
  position: relative; }

.fancybox-inner {
  overflow: hidden; }

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch; }

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap; }

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%; }

.fancybox-image {
  max-width: 100%;
  max-height: 100%; }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("../img/fancybox/fancybox_sprite.png"); }

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060; }

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../img/fancybox/fancybox_loading.gif") center center no-repeat; }

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040; }

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("../img/fancybox/blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: transparent;
  z-index: 8040; }

.fancybox-prev {
  left: 0; }

.fancybox-next {
  right: 0; }

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden; }

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px; }

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px; }

.fancybox-nav:hover span {
  visibility: visible; }

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto; }

.fancybox-lock body {
  overflow: hidden !important; }

.fancybox-lock-test {
  overflow-y: hidden !important; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("../img/fancybox/fancybox_overlay.png"); }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll; }

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050; }

.fancybox-opened .fancybox-title {
  visibility: visible; }

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center; }

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap; }

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff; }

.fancybox-title-inside-wrap {
  padding-top: 10px; }

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("../img/fancybox/fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/ }

  #fancybox-loading div {
    background-image: url("../img/fancybox/fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/ } }
/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1; }

.bx-wrapper img {
  max-width: 100%;
  display: block; }

/** THEME
===================================*/
.bx-wrapper .bx-viewport {
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: 5px solid #fff;
  left: -5px;
  background: #fff;
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0); }

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%; }

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../img/bxslider/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px; }

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url(../img/bxslider/controls.png) no-repeat 0 -32px; }

.bx-wrapper .bx-next {
  right: 10px;
  background: url(../img/bxslider/controls.png) no-repeat -43px -32px; }

.bx-wrapper .bx-prev:hover {
  background-position: 0 0; }

.bx-wrapper .bx-next:hover {
  background-position: -43px 0; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(../img/bxslider/controls.png) -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(../img/bxslider/controls.png) -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666 \9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }

/* =============================================================================
   Imports components
   ========================================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  color: #141414; }

img {
  height: auto;
  max-width: 100%; }

a {
  color: #6c2c00; }
  a:hover {
    text-decoration: none; }
  a:active, a:focus {
    outline: 0; }

input:focus {
  outline: 0; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

.icons {
  display: inline-block;
  background: url(../img/sprite.png) no-repeat; }

.icons-phone {
  width: 47px;
  height: 42px;
  background-position: -4px -62px; }

.icons-drop {
  width: 36px;
  height: 29px;
  background-position: -118px 5px; }

.container {
  width: 1200px;
  margin: 0 auto; }

.wrap {
  width: 884px;
  margin: 0 auto;
  background: #fff;
  padding: 0 50px;}
.wrap.clearfix {
    background: none;
    padding: 0;
}
.wrap-lg {
  width: 1072px;
  margin: 0 auto; }

.pull-left {
  float: left !important; }

.pull-right {
  float: right !important; }

.clearfix:before, #content:before, .content-capt:before, .article:before, .contacts:before, .list-product:before, .cart:before {
  content: "";
  display: block;
  clear: both; }
.clearfix:after, #content:after, .content-capt:after, .article:after, .contacts:after, .list-product:after, .cart:after {
  content: "";
  display: block;
  clear: both; }

.hidden {
  display: none !important; }

.alignment {
  width: 100%;
  height: 100%;
  text-align: center;
  display: table; }

.cell {
  display: table-cell;
  vertical-align: middle; }

.pseudo, .cart-image a:after {
  content: "";
  display: block;
  position: absolute; }

.full-abs {
  display: block;
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;
  top: 0 !important; }

.pos-rel {
  position: relative; }

.pos-abs {
  position: absolute; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right; }

.text-md {
  font-size: 18px; }

.text-lg {
  font-size: 24px; }

.text-light {
  font-weight: lighter; }

.text-normal {
  font-weight: normal; }

.text-bold {
  font-weight: bold; }

.text-seo {
  text-align: center;
  font-size: 14px;
  font-style: italic;
  color: #8E8E8E;
  margin: 32px 0 32px; }

.list-product + .text-seo {
  margin: 0px 0 65px; }

.inline-block {
  display: inline-block; }

.mt-0 {
  margin-top: 0 !important; }

.mt-md {
  margin-top: 31px !important; }

.mb-0 {
  margin-bottom: 0 !important; }

.pt-0 {
  padding-top: 0 !important; }

.pt-sm {
  padding-top: 20px; }

.pb-0 {
  padding-bottom: 0 !important; }

.unselect {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none; }

html, body {
  height: 100%; }
#content {
    background: url(../img/background.png) ;
}
#container {
  height: 100%;
  min-width: 980px; }

#content {
  position: relative;
  z-index: 2;
  min-height: 100%;
  margin: -124px 0 -136px;
  padding: 124px 0 140px; }

.decor-white-top,
.decor-white-bottom {
  /*background: #fff;*/
  position: relative; }

.decor-white-top {
  padding-top: 1px; }
  .decor-white-top:before {
    /*background: url(../img/decor/container-top-decor.png) repeat-x top;*/
    position: absolute;
    content: "";
    width: 100%;
    height: 14px;
    left: 0;
    bottom: 100%;
    z-index: 0; }

.decor-white-bottom {
  position: relative;
  z-index: 1; }
  .decor-white-bottom:after {
    /*background: url(../img/decor/container-bottom-decor.png) repeat-x bottom;*/
    position: absolute;
    content: "";
    width: 100%;
    height: 14px;
    left: 0;
    top: 100%;
    z-index: 0; }
  .decor-white-bottom + * {
    position: relative;
    z-index: 0; }
.nav-product a,
.footer-nav a {
    text-decoration: none;
    font-family: 'Geometria';
    font-weight: normal;
    font-style: normal;
}
.content-image {
  text-align: center;
  margin: 26px 0px 20px; }

.page-capt {
  position: relative;
  padding: 16px 0 15px 0;
  font-size: 24px;
  margin: 3px 0 1px; }
  .page-capt:after {
    position: absolute;
    content: "";
    width: 37px;
    height: 47px;
    left: 5px;
    top: 6px;
    background: url(../img/sprite.png) no-repeat 100px 100px; }
  .page-capt.dessert {
    padding-left: 47px; }
    .page-capt.dessert:after {
      background-position: -68px -56px; }

.catalog-capt {
  position: relative;
  padding: 16px 0 15px 0;
  font-size: 28px;
  margin: 3px 0 1px;
  color: #6E2C00;
  margin: 10px 0 35px; }
  .catalog-capt:after {
    position: absolute;
    content: "";
    width: 55px;
    height: 50px;
    left: 5px;
    top: 6px;
    background: url(../img/sprite.png) no-repeat 100px 100px; }
  .catalog-capt[class*="ico-"] {
    padding-left: 70px; }
  .catalog-capt.ico-pizza:after {
    background-position: 9px -403px; }
  .catalog-capt.ico-pasta:after {
    background-position: -49px -402px; }
  .catalog-capt.ico-burgers:after {
    background-position: -110px -402px; }
  .catalog-capt.ico-beer:after {
      background-position: -312px -402px; }
  .catalog-capt.ico-desserts:after {
    background-position: -185px -402px; }
  .catalog-capt.ico-hot:after {
    background-position: -52px -403px; }
  .catalog-capt.ico-zakuski-garhiru:after {
    background-position: -248px -403px; }
  .catalog-capt.ico-salads:after {
    background-position: -378px -403px; }
  .catalog-capt.ico-drinks:after {
    background-position: -311px -402px; }
  .catalog-capt.ico-stock:after {
    background-position: -375px -404px; }

.push-top {
  padding-top: 45px; }
#content > div.decor-white-bottom > div > div:nth-child(1),
#content > div.wrap > div.clearfix.contacts-page {
    padding-top: 35px;
}
.item-clearfix {
    margin-top: -15px;
}
div.article > div.article-text > a:last-child {
    display: block;
    padding-bottom: 25px;
}
.breadcrumb {
  overflow: hidden;
  margin: -43px 0 27px 209px;
  color: #404040;
  font-size: 12.6px; }
.breadcrumb.item {
  margin: 0;
}
  .breadcrumb li {
    float: left;
    position: relative;
    margin-right: 15px;
    margin-left: 15px;}
.breadcrumb li:first-child {
    margin-left: 0;
}
.breadcrumb li:after {
      position: absolute;
      content: "";
      right: -19px;
      top: 0;
      width: 12px;
      height: 11px;
      background: url(../img/sprite.png) no-repeat -218px 0px; }
    .breadcrumb li:last-child:after {
      display: none; }
  .breadcrumb a {
    color: #818181; }
    .breadcrumb a:hover {
      color: #404040; }

.list-ingredients {
  margin: 16px 0 0px 25px;
  font-size: 14px;
  font-style: italic; }
  .list-ingredients li {
    position: relative;
    padding: 1px 10px 0 32px;
    line-height: 18px;
    margin-bottom: 18px;
    color: #fff; }
    .list-ingredients li:before {
      position: absolute;
      display: block;
      content: "";
      width: 18px;
      height: 18px;
      left: 0;
      top: 0;
      background: url(../img/sprite.png) no-repeat no-repeat -192px -29px;
      background-position: -161px -29px;
      background-color: #ffa901; }
    .list-ingredients li:hover:before {
      background-color: #ffa901; }
  .list-ingredients .serving {
    display: none; }
  .list-ingredients .item-price {
    display: none; }
  .list-ingredients .price {
    display: none; }

.image-add-ingredientes {
  margin: 0px auto 0px;
  text-align: center; }

.to-footer {
  margin-bottom: -20px; }

.content-capt {
  margin: 37px 0px 35px;
  font-size: 24px; }
  .content-capt .capt {
    float: left;
    font-size: 24px; }

.order-price-wrap {
  margin: 0 0 23px 0; }

.order-price {
  float: right;
  width: 287px; }
  .order-price .capt {
    font-size: 24px;
    font-weight: normal;
    color: #6c2c00; }
  .order-price .price {
    font-size: 37px;
    font-weight: bold;
    color: #ff6501;
    margin: 0px 0 0 3px; }
  .order-price small {
    font-weight: normal;
    font-size: 24px;
    margin-left: -4px; }

.order-controls {
    margin-bottom: 100px;
    padding-bottom: 36px;
}

.order-submit-wrap {
  float: right;
  width: 287px; }

.order-links {
  overflow: hidden;
  padding: 14px 22px 14px 8px;
  font-size: 18px; }

.order-submit {
  display: block;
  width: 100%;
  height: 50px;
  border: 4px solid #ff6501;
  background: none;
  color: #6c2c00;
  font-weight: bold;
  font-size: 20px;
  padding: 1px 0px 3px 0px; }

.text-brown {
  color: #6c2c00; }

.text-orange {
  color: #ff6501; }

.accepted-text {
  text-align: center;
  margin: 64px 0 64px;
  font-size: 18px;
  line-height: 27px;
  padding-bottom: 50px;
}
  .accepted-text p {
    margin-bottom: 22px; }

.breadcrumb + .article {
  margin: 55px 0 90px; }

.article {
  margin: 37px 0 90px; }
  .article h2 {
    margin: 0px 0px 35px;
    font-size: 24px; }

.article-text {
  overflow: hidden;
  font-size: 14px;
  line-height: 26px;
  padding-bottom: 25px;
}
  .article-text p {
    margin-bottom: 30px; }

.article-image {
  width: 290px;
  float: right;
  text-align: center;
  margin: -1px 0 0 20px; }
  .article-image .img {
    font-size: 0;
    display: inline-block;
    border: 4px solid #ff6501;
    margin-bottom: 10px; }

.btn {
  display: inline-block;
  height: 50px;
  border: 4px solid #ff6501;
  background: none;
  color: #6c2c00;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 8px 30px;
  text-decoration: none; }

.btn-write-us {
  float: right;
  display: block;
  height: 50px;
  border: 4px solid #ff6501;
  background: none;
  text-decoration: none;
  margin: -10px 0 -15px;
  color: #6c2c00;
  font-weight: bold;
  font-size: 20px;
  padding: 8px 30px 8px 61px;
  position: relative;
  opacity: 0.5; }
  .btn-write-us:before {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 17px;
    left: 23px;
    top: 12px;
    background: url(../img/sprite.png) no-repeat -272px -71px; }
  .btn-write-us:hover {
    opacity: 1; }

#google-map {
  position: absolute;
  left: -808px;
  top: 0;
  width: 2500px;
  height: 800px; }

.contacts {
  position: relative; }

.map-wrap {
  position: relative;
  margin-bottom: -25px;
  min-height: 575px;
  overflow: hidden; }

.border-box {
  background: #fff;
  box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.48); }

.contacts-address {
  width: 290px;
  float: left;
  padding: 10px;
  margin: 95px 0 0 42px;
  position: relative; }
  .contacts-address .img {
    display: inline-block;
    border: 4px solid #F56200;
    font-size: 0;
    margin-bottom: 46px;
    margin: 3px 0 57px; }
/*  .contacts-address:after {
    position: absolute;
    content: "";
    display: block;
    left: 100%;
    top: 37px;
    width: 27px;
    height: 39px;
    background: url(../img/decor/map-arrow.png) no-repeat -7px -5px; }*/

.contacts-form {
  float: right;
  width: 451px;
  position: relative;
  padding: 19px 0 0;
  margin: 38px 0 0 0;
  font-family: Times New Roman; }
  .contacts-form .form-group {
    margin-bottom: 29px; }
    .contacts-form .form-group .description {
      font-size: 16px;
      width: 209px;
      padding-right: 38px; }
  .contacts-form .form-input .input {
    padding-bottom: 3px;
    margin-top: -1px; }
  .contacts-form .controls {
    margin: 38px 0 28px; }
    .contacts-form .controls .reset {
      float: left;
      text-align: right;
      width: 158px;
      font-size: 20px;
      padding-top: 14px; }
    .contacts-form .controls .send-comment {
      float: right;
      display: block;
      height: 50px;
      border: 4px solid #ff6501;
      background: none;
      text-decoration: none;
      margin: 0px 29px 0px 0px;
      color: #6c2c00;
      font-weight: bold;
      font-size: 19px;
      padding: 8px 30px 8px 91px;
      position: relative; }
      .contacts-form .controls .send-comment:before {
        content: "";
        position: absolute;
        display: block;
        width: 30px;
        height: 17px;
        left: 44px;
        top: 12px;
        background: url(../img/sprite.png) no-repeat -272px -71px; }
      .contacts-form .controls .send-comment:after {
        content: "";
        position: absolute;
        display: block;
        width: 20px;
        height: 12px;
        left: 23px;
        top: 14px;
        background: url(../img/sprite.png) no-repeat -232px -72px; }

.determination {
  padding: 0 0 0 40px;
  margin: 17px 0 33px;
  font-family: Times New Roman;
  font-size: 18px;
  position: relative; }
  .determination:before {
    position: absolute;
    content: "";
    width: 32px;
    height: 41px;
    left: 0;
    top: 0;
    background: url(../img/sprite.png) no-repeat; }
  .determination dd {
    margin: 0 0 0;
    font-size: 14px;
    margin-top: 10px; }
  .determination p {
    margin-bottom: 11px; }
  .determination.ico-address:before {
    background-position: -129px -62px; }
  .determination.ico-phone:before {
    background-position: -178px -66px; }

.help-info {
  float: left;
  padding: 25px 21px 25px 13px;
  border: 1px solid #f36621;
  position: relative;
  margin: -18px 0 -18px 37px;
  font-size: 14px; }
  .help-info:before {
    content: "";
    position: absolute;
    display: block;
    right: 100%;
    top: 50%;
    margin: -12px 0 0 0;
    width: 15px;
    height: 25px;
    background: url(../img/sprite.png) no-repeat -367px 0px; }
  .help-info.abs {
    position: absolute;
    height: 76px;
    padding: 0 10px;
    width: 285px;
    top: 0;
    bottom: 0;
    margin: auto; }
  .help-info.right {
    right: 100%;
    margin-right: 40px; }
    .help-info.right:before {
      background-position: -459px -55px;
      left: 100%;
      right: auto; }

.order-info {
  float: right;
  width: 285px;
  font-size: 18px;
  margin: 70px 0 55px; }
  .order-info p {
    position: relative; }

.jqifade {
  background-color: rgba(0, 0, 0, 0.81); }

div.jqi {
  border-radius: 0px;
  font-size: 14px;
  font-family: inherit; }

div.jqi .jqibuttons button.jqidefaultbutton {
  color: #6c2c00; }

div.jqi .jqibuttons {
  border: none; }

div.jqi .jqibuttons button {
  border: none; }

.col {
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.x-12 {
  width: 100%; }

.x-11 {
  width: 91.66666667%; }

.x-10 {
  width: 83.33333333%; }

.x-9 {
  width: 75%; }

.x-8 {
  width: 66.66666667%; }

.x-7 {
  width: 58.33333333%; }

.x-6 {
  width: 50%; }

.x-5 {
  width: 41.66666667%; }

.x-4 {
  width: 33.33333333%; }

.x-3 {
  width: 25%; }

.x-2 {
  width: 16.66666667%; }

.x-1 {
  width: 8.33333333%; }

.y-12 {
  width: 100%; }

.y-11 {
  width: 91.66666667%; }

.y-10 {
  width: 83.33333333%; }

.y-9 {
  width: 75%; }

.y-8 {
  width: 66.66666667%; }

.y-7 {
  width: 58.33333333%; }

.y-6 {
  width: 50%; }

.y-5 {
  width: 41.66666667%; }

.y-4 {
  width: 33.33333333%; }

.y-3 {
  width: 25%; }

.y-2 {
  width: 16.66666667%; }

.y-1 {
  width: 8.33333333%; }

.bg-red {
  background: #D20000; }

.bg-yellow {
  background: #ee9d15; }

.bg-green {
  background: #ee9d15; }

.bg-brown {
  background: #005f73; }

.bg-grey {
  background: #ACACAC; }

.bg-square {
  position: relative; }
  .bg-square:before {
    position: absolute;
    content: "";
    opacity: .5;
    z-index: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../img/decor/bg-square.png) repeat; }

.bg-orange {
  position: relative;
  background: url(../img/decor/bg-orange.png) repeat; }
  .bg-orange:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 20px;
    bottom: 100%;
    left: 0;
    background: url(../img/decor/orange-decor.png) repeat-x; }

.bx-wrapper .bx-controls-direction a {
  -webkit-transition: opacity 0.15s;
  -moz-transition: opacity 0.15s;
  -ms-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  transition: opacity 0.15s;
  background: url(../img/sprite.png) no-repeat;
  width: 50px;
  height: 50px;
  margin-top: -25px; }
  .bx-wrapper .bx-controls-direction a.bx-prev {
    background-position: 0px 1px; }
  .bx-wrapper .bx-controls-direction a.bx-next {
    background-position: -55px 1px; }
  .bx-wrapper .bx-controls-direction a:hover {
    opacity: 0.8; }

.bx-wrapper .bx-prev {
  left: 0; }

.bx-wrapper .bx-next {
  right: 0; }

.bx-wrapper .bx-viewport {
  border: none;
  left: 0;
  background: none;
  box-shadow: none; }

.top-slider {
  margin: -124px auto 0;
  max-width: 1900px; }
  .top-slider .bx-wrapper .bx-controls-direction a {
    top: 50%;
    margin-top: -5px; }
  @media (min-width: 1100px) {
    .top-slider .bx-wrapper .bx-prev {
      left: 50%;
      margin-left: -459px; }
    .top-slider .bx-wrapper .bx-next {
      right: 50%;
      margin-right: -459px; } }
  .top-slider .button {
    position: absolute;
    top: 50%;
    outline: 0;
    text-indent: -9999px;
    z-index: 9999;
    transition: opacity 0.15s;
    background: url(../img/sprite.png) no-repeat;
    width: 50px;
    height: 50px;
    margin-top: -25px; }
  .top-slider .prev {
    background-position: 0px 1px; }
  .top-slider .next {
    background-position: -55px 1px; }

.text-slider {
  padding: 7px 0px 1px;
  color: #614400;
  font-size: 20px; }
  .text-slider .bx-wrapper img {
    display: inline-block;
    margin-bottom: 25px; }
  .text-slider .cell {
    padding: 0 70px; }
  .text-slider .bx-wrapper {
    margin-bottom: 80px; }
  .text-slider .bx-wrapper .bx-pager {
    bottom: -44px; }
  .text-slider .bx-wrapper .bx-pager.bx-default-pager a {
    background: rgba(255, 255, 255, 0.61);
    width: 14px;
    height: 14px;
    margin: 0 7px;
    border-radius: 15px; }
    .text-slider .bx-wrapper .bx-pager.bx-default-pager a.active, .text-slider .bx-wrapper .bx-pager.bx-default-pager a:hover {
      background: #614400; }

.order-form {
  margin: 64px 0; }
  .order-form .form-group {
    width: 625px; }

.form-group {
  margin-bottom: 27px; }
  .form-group .description {
    float: left;
    width: 306px;
    padding-right: 28px;
    font-size: 18px;
    text-align: right; }
  .form-group .form-input {
    display: block; }
  .form-group.important .description:before {
    content: "*";
    color: #fd000a; }
  .form-group.invalid .filder:after {
    content: "!";
    position: absolute;
    right: 16px;
    top: 1px;
    color: #fd000a;
    font-size: 18px;
    font-weight: bold; }

.filder {
  position: relative;
  padding-right: 35px;
  overflow: hidden; }
  .filder.filder-phone .form-input {
    display: inline-block; }
  .filder.filder-phone .filder-text {
    display: inline-block;
    vertical-align: top;
    margin-top: 1px;
    font-size: 18px; }
  .filder .phone-code {
    width: 50px; }
  .filder .phone-1 {
    width: 54px; }
  .filder .phone-2 {
    width: 39px; }
  .filder .phone-3 {
    width: 39px; }

.form-input {
  position: relative;
  display: inline-block;
  overflow: hidden; }
  .form-input .input {
    padding: 1px 10px 5px;
    border: none;
    display: block;
    width: 100%; }
  .form-input textarea.input {
    resize: none;
    height: 62px;
    font-family: Times New Roman; }
    .form-input textarea.input:active, .form-input textarea.input:focus {
      outline: 0; }
  .form-input:after {
    height: 5px;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid #6C2900;
    border-top: none; }

#header {
  background: url(../img/decor/header-bg.png);
  background: rgba(1, 95, 114, 0.8);
  height: 44px;
  color: #fff;
  position: relative;
  z-index: 3;
  margin-bottom: 80px; }
  #header:after {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 14px;
    left: 0;
    top: 100%;
    display: block;
    content: "";
    background: url("../img/decor/header-decor.png") repeat-x bottom; }

#logo-header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: -5px; }

.header-order {
  font-size: 16px;
  position: absolute;
  top: 3px;
  left: 223px;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.55); }

.header-phone {
  position: absolute;
  right: -24px; }

.open-phone-drop {
  cursor: pointer; }

.phone {
  cursor: pointer;
  padding: 0 21px 0 27px; }
  .phone .icons-phone {
    float: left;
    /*margin: 5px 0 0 20px;*/ }
  .phone .capt {
    float: left;
    margin-top: 8px;
    font-size: 30px; }
  .phone .number {
    float: left;
    margin: 6px 0 0 12px;
    font-size: 32px; }
  .phone .open-phone-drop {
    float: left;
    margin: 11px 0 0 16px; }

.phone-drop {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  z-index: 9999;
  width: 100%;
  background: #fff;
  color: #141414;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.64); }

.phone-numbers {
  padding: 20px 30px 5px;
  font-size: 19px;
  overflow: hidden; }
  .phone-numbers li {
    float: left;
    margin-bottom: 17px;
    font-weight: bold;
    margin-right: 29px; }

.theme-orange {
  color: #FB6800; }
  .theme-orange .icons-phone {
    background-position: -408px 0; }
  .theme-orange .icons-drop {
    background-position: -261px -27px; }
  .theme-orange:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 18px;
    left: 0;
    top: 100%;
    background: url(../img/decor/phone-decor-orange.png?v=2) repeat-x bottom; }

#footer {
  background: #015F72;
  position: relative;
  z-index: 3;
  padding: 27px 0 31px;
  color: #fff;
  margin-top: 20px;
  height: 116px; }
  #footer:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 20px;
    bottom: 100%;
    left: 0;
    background: url(../img/decor/footer-decor.png) repeat-x top; }

.footer-logo {
  float: left;
  margin: 0px 69px 0 10px; }

.footer-nav {
  overflow: hidden;
  margin-bottom: 12px; }
  .footer-nav a {
    font-weight: bold;
    margin: 0 48px 5px 0;
    float: left;
    color: #fff;
    font-size: 17px; }

.footer-copy {
  font-size: 12.5px; }
  .footer-copy a {
    color: #fff; }

.footer-body {
  overflow: hidden; }

.list-product {
  margin: 0 -10px; }
  .list-product .item {
    width: 33.3333%;
    float: left;
    padding: 0 10px;
    margin-bottom: 60px;
    position: relative; }
  .list-product .bg-yellow {
    color: #181E12; }
  .list-product .bg-green {
    color: #fff; }
  .list-product .bg-brown {
    color: #ee9d15; }
  .list-product .bg-grey {
    color: #1B1B1B; }
  .list-product .bg-gray {
    color: #1B1B1B; }
  .list-product .bg-red {
    color: #fff; }
  .list-product .img {
    height: 215px; }
    .list-product .img img {
      max-height: 210px;
      max-width: 281px;
      moz-transition: all .35s;
      webkit-transition: all .35s;
      transition: all .3s; }
      .list-product .img img:hover {
        /*moz-transform: scale3d(1.2, 1.2, 1);
        webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);*/
        position: relative;
        z-index: 2;
        box-shadow: 0 0 8px #000; }
  .list-product .info {
    float: left;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff; }
  .list-product .weight {
    float: right;
    height: 17px;
    font-style: italic;
    font-size: 12px;
    line-height: 19px;
    padding: 0 0 0 10px;
    padding-left: 12px; }
  .list-product .name {
    height: 65px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold; }
    .list-product .name .alignment {
      text-align: left; }
  .list-product .price {
    height: 65px;
    font-size: 18px;
    padding-top: 2px; }
    .list-product .price.x-6 {
      height: 67px; }
  .list-product .size {
    color: #ee9d15;
    height: 67px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s all; }
    .list-product .size:not(.bg-red):hover {
      background: #D20000;
      color: #fff; }
    .list-product .size.bg-red {
      cursor: default;
      background: #D20000; }
  .list-product .size {
    background: #005f73; }
    .list-product .size.active {
      background: #faedc1;
      color: #ee9d15;
      cursor: default; }
  .list-product .add {
    color: #005f73;
    height: 67px;
    font-size: 55px;
    font-weight: bold;
    cursor: pointer;
    position: relative; }
    .list-product .add a {
      text-decoration: none;
      color: inherit; }
  .list-product .add-btn {
    height: 67px;
    background: #ACACAC;
    color: #fff;
    font-size: 16px; }
    .list-product .add-btn:hover {
      background: #D20000;
      cursor: pointer;
      color: #fff; }
    .list-product .add-btn a {
      color: #fff;
      text-decoration: none; }
      .list-product .add-btn a:hover {
        color: #fff; }
  .list-product .circle {
    width: 70px;
    height: 70px;
    line-height: 68px;
    border-radius: 50%;
    border: 1px solid #ababab;
    display: inline-block; }
  .list-product .add-text {
    position: absolute;
    left: 0;
    top: 8px;
    width: 100%;
    font-size: 12px;
    font-weight: normal;
    text-align: center; }
  .list-product .plus {
    width: 26px;
    height: 25px;
    right: 0;
    top: 0;
    background: #FFA901;
    color: #181E12;
    position: absolute;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    line-height: 24px; }
  .list-product .discount {
    position: absolute;
    width: 130px;
    height: 100px;
    top: 52px;
    padding: 36px 22px 0px 0px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    right: 11px;
    background: url(../img/sprite.png) no-repeat -129px -183px; }
  .list-product .item-plus {
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 0px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 41px;
    background: #FFA907;
    border-radius: 50%;
    font-size: 14px; }

.nav-product {
  display: table;
  width: 100%;
  margin-bottom: 32px; }
  .nav-product .item {
    display: table-cell;
    vertical-align: middle;
    height: 124px;
    max-width: 0;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    padding: 0px 0 58px;
    background: #015F72;
    position: relative;
    -webkit-transition: opacity 0.15s;
    -moz-transition: opacity 0.15s;
    -ms-transition: opacity 0.15s;
    -o-transition: opacity 0.15s;
    transition: opacity 0.15s; }
    .nav-product .item:hover {
      opacity: .95; }
    .nav-product .item:nth-child(2n) {
      background: #16707C; }
    .nav-product .item:after {
      content: "";
      position: absolute;
      width: 64px;
      height: 50px;
      bottom: 12px;
      left: 50%;
      margin-left: -25px;
      background: url(../img/sprite.png) no-repeat 100px 100px; }
    .nav-product .item.active {
      background: #6E2C00; }
  .nav-product .item-pizza:after {
    background-position: 0px -115px; }
  .nav-product .item-paste:after {
    background-position: -58px -114px; }
  .nav-product .item-burger:after {
    background-position: -120px -114px; }
    .nav-product .item-beer:after {
    background-position: -321px -113px; }
    .nav-product .item-hot:after {
    background-position: -60px -113px; }
  .nav-product .item-dessert:after {
    background-position: -194px -114px; }
  .nav-product .item-snacks:after {
    background-position: -257px -114px; }
  .nav-product .item-beverages:after {
    background-position: -387px -113px; }
  .nav-product .item-stock:after {
    background-position: -385px -115px; }

.product {
  margin: 32px 0 20px 0;
  padding-bottom: 50px;
  position: relative; }

.product-container {
  height: 654px;
  position: relative;
  /*background: url(../img/imgs/item-bg.jpg) no-repeat center center;*/
  background-size: cover; }

.product-top {
  display: table;
  height: 52px;
  max-width: 587px; }

.product-capt {
  font-size: 24px;
  background: #FFAC03;
  display: table-cell;
  min-width: 240px;
  vertical-align: middle; }

.product-capt-in {
  padding: 12px 26px 11px 26px;
  display: block; }

.product-id {
  font-weight: bold;
  font-size: 14px;
  padding: 0px 0 0 16px;
  display: table-cell;
  white-space: nowrap;
  vertical-align: middle; }

.product-ingredients {
  position: absolute;
  top: 0;
  bottom: 44px;
  width: 240px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.56);
  color: #fff; }
  .product-ingredients .capt {
    font-size: 24px;
    font-weight: normal;
    font-style: italic;
    margin: 23px 0 14px 45px; }
  .product-ingredients .list-ingredients {
    overflow: auto;
    height: 435px; }
  .product-ingredients.desc {
    bottom: auto; }
    .product-ingredients.desc .list-ingredients {
      height: auto;
      padding-bottom: 18px; }

.text-help {
  color: #FFA30D;
  font-size: 14px;
  margin: 28px 0 0 24px;
  font-style: italic;
  line-height: 17px; }

.product-image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 44px;
  z-index: 0; }
  .product-image img {
    max-height: 654px;
    box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.68);
    width: 100%;
  }

.product-add-ingredients {
  position: absolute;
  background: #ee9d15;
  height: 44px;
  padding: 11px 0px 10px 24px;
  font-size: 17px;
  font-weight: bold;
  font-style: italic;
  color: #005f73;
  top: 100%;
  width: 100%;
  cursor: pointer; }
  .product-add-ingredients:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    border: 22px solid transparent;
    border-left: 24px solid #ee9d15; }

.product-info {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 300px;
  margin: 0; }
  .product-info .info {
    width: 93px;
    height: 93px;
    float: right; }
  .product-info .weight {
    height: 25px;
    font-size: 17px;
    line-height: 24px; }
  .product-info .price {
    height: 68px;
    font-size: 18px; }
  .product-info .add {
    font-size: 72px; }
  .product-info .cart-count {
    width: 93px;
    margin: 30px 0 28px; }
    .product-info .cart-count input {
      height: 34px;
      font-size: 24px;
      margin: 0 auto;
      display: block;
      width: 70px;
      padding: 0px;
      line-height: 27px;
      float: none; }
    .product-info .cart-count .control {
      height: 30px; }

.count-product {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .count-product .cell {
    padding: 0 20px; }
  .count-product .control {
    display: block;
    width: 45px;
    height: 45px;
    background: #005f73 center center no-repeat;
    border-radius: 50%;
    border: 3px solid #fff;
    cursor: pointer; }
    .count-product .control:hover {
      opacity: .5; }
  .count-product .increase {
    background-image: url(../img/icons/arrow-right.png);
    float: right; }
  .count-product .decrease {
    background-image: url(../img/icons/arrow-left.png);
    float: left; }
  .count-product .number-wrap {
    color: #005f73;
    position: relative;
    display: inline-block;
    margin-top: 12px;
    width: 40px;
    font-weight: bold; }
    .count-product .number-wrap .helper {
      position: absolute;
      content: "╤И╤В.";
      top: 26px;
      left: 0;
      width: 30px;
      margin-left: -9px;
      margin: auto;
      right: 0; }
  .count-product.info {
    width: 190px; }

.product-description {
  position: absolute;
  right: 283px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.56);
  color: #fff;
  padding: 10px;
  line-height: 23px;
  font-size: 14px;
  bottom: 51px;
  width: 330px; }

.check-item {
  margin: 10px -181px 0 0; }
  @media (max-width: 1100px) {
    .check-item {
      margin: 10px 0 0 0; } }
  .check-item .list-items {
    float: left;
    padding-right: 20px;
    padding-top: 84px;
    width: 30%; }
    .check-item .list-items:before {
      display: block; }

.list-items {
  position: relative; }
  .list-items:before {
    content: "";
    position: absolute;
    display: none;
    width: 70px;
    height: 70px;
    left: 80px;
    top: 0;
    background: url(../img/sprite.png) no-repeat; }
  .list-items.meat:before {
    background-position: 9px -311px; }
  .list-items.fish:before {
    background-position: -87px -310px; }
  .list-items.vegetables:before {
    background-position: -198px -311px; }
  .list-items.cheese:before {
    background-position: -298px -311px; }
  .list-items.sauce:before {
    background-position: -392px -311px; }
  .list-items .item {
    position: relative;
    padding: 2px 0 2px 32px;
    font-style: italic;
    font-size: 14px;
    letter-spacing: -0.3px;
    min-height: 20px;
    margin-bottom: 20px; }
    .list-items .item:after {
      width: 18px;
      height: 18px;
      left: 0;
      top: 0;
      content: "";
      position: absolute;
      display: inline-block;
      border: 1px solid #6C2900;
      background: url(../img/sprite.png) no-repeat -129px -31px; }
    .list-items .item:hover {
      cursor: pointer; }
    .list-items .item.active {
      color: #ffa901; }
      .list-items .item.active:after {
        border: 1px solid #ffa901;
        background-position: -161px -29px;
        background-color: #ffa901; }
  .list-items .item-price {
    color: #6C2900;
    font-weight: bold;
    margin-left: 1px;
    font-style: normal; }

.basket {
  position: absolute;
  z-index: 9999;
  width: 281px;
  right: 0;
  top: 0px; }
  .basket.active .basket-body {
    display: block; }
  .basket.active .basket-controls {
    display: none; }

.basket-body {
  display: none;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.42); }

.basket-header {
  background: #F60;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.26) inset;
  height: 53px;
  position: relative;
  padding: 12px 58px 7px 15px; }
  .basket-header:after {
    position: absolute;
    display: block;
    content: "";
    width: 43px;
    height: 36px;
    background: url(../img/sprite.png) no-repeat -325px -61px;
    top: 9px;
    right: 12px; }
  .basket-header .capt {
    font-size: 18px;
    font-weight: bold;
    float: left;
    margin: 3px 10px 0 0; }
  .basket-header .price {
    float: left;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    position: relative; }
    .basket-header .price small {
      font-weight: normal;
      margin-left: -2px; }

.basket-list {
  background: #fff;
  height: 270px;
  overflow: auto; }
  .basket-list .item {
    height: 90px;
    padding-left: 50px;
    position: relative;
    overflow: hidden;
    border-bottom: 2px solid #E9E1DE; }
  .basket-list .close {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    left: 23px;
    margin-top: -10px;
    top: 50%;
    cursor: pointer;
    background: url(../img/sprite.png) no-repeat -163px 2px; }
    .basket-list .close:hover {
      background-position: -189px 2px; }
  .basket-list .img {
    width: 75px;
    font-size: 0; }
    .basket-list .img img {
      max-width: 51px;
      max-height: 51px; }
  .basket-list .price {
    text-align: left;
    color: #6c2c00;
    font-size: 14px;
    padding-left: 5px; }
  .basket-list .count {
    font-size: 18px;
    font-weight: bold; }
  .basket-list .control {
    position: absolute;
    width: 30px;
    height: 30px;
    text-indent: 999px;
    background: url(../img/sprite.png) no-repeat;
    opacity: .6; }
    .basket-list .control:hover {
      opacity: 1; }
    .basket-list .control.plus {
      top: 5px;
      background-position: -400px -43px; }
    .basket-list .control.minus {
      bottom: 5px;
      background-position: -400px -76px; }

.basket-order {
  border: 2px solid #ff6501;
  text-decoration: none;
  color: #6c2c00;
  font-size: 16px;
  display: inline-block;
  background: #fff;
  text-align: center;
  padding: 7px 10px 7px 10px;
  font-weight: bold;
  margin-bottom: 15px; }

.basket-controls {
  color: #fff;
  padding: 8px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.56); }
  .basket-controls a {
    color: #fff; }

.cart-container {
  margin: 1px 0 0; }

.cart {
  border-bottom: 1px solid #c2c2c2;
  padding: 9px 0;
  position: relative;
  width: 100%;
 }
  

.cart + .cart {
  border-top: 0; }

.cart-remove {
  position: absolute;
  height: 100%;
  width: 82px;
  top: 0;
  left: 0; }

.cart-remove:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: url(../img/sprite.png) no-repeat -478px 0px;
  background-color: #fff; }

.cart-remove:hover:after {
  background-position: -515px 0px; }

.cart-image {
  margin-left: 90px;
  margin-right: 86px;
  float: left;
  width: 198px;
  height: 201px;
  position: relative; }
  .cart-image a:after {
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 1; }

.cart-image img {
  max-height: 201px; }


.checkout .cart-image {
    margin-left: 76px;
    margin-right: 50px;
}
.cart-item-size {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #D40001;
  width: 92px;
  height: 92px;
  text-align: center;
  padding: 35px 0;
  color: #fff;
  font-size: 18px; }

.cart-item-size:before {
  position: absolute;
  content: "";
  display: block;
  border: 1px solid #e77373;
  border-radius: 50%;
  left: 10px;
  right: 10px;
  bottom: 10px;
  top: 10px; }

.cart-info {
  overflow: hidden; }

.cart-name {
  margin: 16px 0 16px;
  color: #6e2c00; }

.cart-quantity {
  border: 1px solid #ff6600;
  background: #fff;
  outline: 0;
  padding: 11px;
  width: 89px;
  height: 58px;
  font-size: 36px;
  line-height: 38px;
  text-align: center;
  color: #6e2c00; }

.cart-count {
  float: left;
  position: relative;
  margin: 45px 0; }

.cart-count .control {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  height: 45px; }

.cart-count .control:after {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  top: 0;
  right: 0;
  width: 25px;
  margin: auto;
  height: 16px;
  bottom: 0;
  -moz-transition: all .15s;
  -webkit-transition: all .15s;
  transition: all .15s;
  background: url(../img/sprite.png) no-repeat -403px -54px;
  opacity: 0.6; }

.cart-count .control:hover:after {
  opacity: 1; }

.cart-count .add {
  bottom: 100%; }

.cart-count .remove {
  top: 100%; }

.cart-count .remove:after {
  background-position: -403px -82px; }

.cart-info-wrap {
  margin: 62px 0px 0 7px;
  float: left;
  font-size: 18px;
  color: #6e2c00; }

.cart-info-wrap > span {
  float: left; }

.cart-price-one {
  margin: 0 0 0 10px; }

.icon-multiply {
  display: inline-block;
  width: 15px;
  height: 16px;
  background: url(../img/sprite.png) no-repeat -553px 0px;
  margin: 3px 10px 0 27px; }

.cart-price-one {
  margin: -3px 0 0 10px; }

.cart-price-one .price {
  font-size: 24px;
  margin-right: 4px; }

.icon-equal {
  display: inline-block;
  width: 16px;
  height: 9px;
  background: url(../img/sprite.png) no-repeat -588px 0px;
  margin: 7px 12px 0 12px; }

.cart-price-all {
  margin: -10px 0 0 0px;
  font-size: 24px; }

.cart-price-all .price {
  font-size: 36px;
  margin-right: 3px; }

.fancybox-opened {
  background: none; }

.fancybox-skin {
  background: #fff;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5); }

.modal {
  display: none; }
  .modal .image {
    float: left;
    width: 520px;
    height: 520px;
    margin-right: 35px;
    border-right: 1px solid #cecece; }
    .modal .image img {
      max-width: 500px;
      max-height: 500px; }
  .modal .description {
    overflow: hidden;
    color: #6e2c00;
    position: relative;
    height: 520px; }
    .modal .description h3 {
      margin-top: 10px;
      height: 49px;
      overflow: hidden; }
    .modal .description p {
      margin-bottom: 20px; }
  .modal .scroll-bar {
    position: absolute;
    overflow: auto;
    left: 0;
    right: 0;
    top: 75px;
    bottom: 80px; }
  .modal .btn {
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 10px;
    display: block;
    margin: auto; }

@media (min-width: 320px) and (max-width: 667px) {
  .checkout .wrap {
    margin: 0 auto;
    width: 100%;
  }
  .order-price-wrap, .order-controls {
    width: auto;
  }
} 

@media (min-width: 320px) and (max-width: 667px) {
  .check-item  {
    margin: 0 auto;
    width: 100%;
    pad: 30px 0;
    
  }
  
  
} 


/*# sourceMappingURL=style.css.map */
